-# 新規登録画面ページです
.header
  %h1
    = link_to "#", class: "logo" do
      = image_tag("logo.png")
  %nav.header_navigation
    %ol.header_navigation_list
      %li.header_navigation_list-item.current
        会員情報
      %div.header_navigation_list-status.header_navigation_list-first
      %li.header_navigation_list-item
        電話番号認証
      %div.header_navigation_list-status
      %li.header_navigation_list-item.header_navigation_last
        完了
      %div.header_navigation_list-status.header_navigation_list-last
.form
  .form_signup-container
    %h2.signup-header 会員情報入力
    = render "devise/shared/links"
    = form_for(resource, as: resource_name, url: user_registration_path) do |f|
      .form_signup-container_registration-form
        .form_signup-container_registration-form_signup-container_nickname
          = f.label :nickname, 'ニックネーム', class: 'signup-label'
          %span.sessential-icon 必須
          %br
          = f.text_field :nickname, class: 'content_form'
        .form_signup-container_registration-form_signup-container_mailadress
          = f.label :mailadress, 'メールアドレス(＠とドメインを含む)', class: 'signup-label'
          %span.sessential-icon 必須
          %br
          = f.email_field :email, class: 'mailadress'
        .form_signup-container_registration-form_signup-container_password
          = f.label :password, 'パスワード(７文字以上)', class: 'signup-label'
          %span.sessential-icon 必須
          %br
          = f.password_field :password, class: 'password'
        = f.fields_for :profile do |m|
          .form_signup-container_registration-form_signup-container_name
            = m.label :name, 'お名前(全角)', class: 'signup-label'
            %span.sessential-icon 必須
            %br
            = m.text_field :family_name, class: 'family_name'
            = m.text_field :first_name, class: 'first_name'
          .form_signup-container_registration-form_signup-container_furigana
            = m.label :kana, 'お名前カナ(全角)', class:'signup-label' 
            %span.sessential-icon 必須    
            %br
            = m.text_field :family_name_kana, class:'family_name_kana'
            = m.text_field :first_name_kana, class:'first_name_kana' 
          .form_signup-container_registration-form_signup-container_birthday
            = m.label :birthday, '生年月日', class: 'birthday' 
            %span.sessential-icon 必須 
            %br
          = m.select :birth_year, [1900..2020]
          年
          = m.select :birth_month, [1..12]
          月
          = m.select :birth_day, [1..31]
          日
        = f.fields_for :delivery_destination do |k|
          .form_signup-container_registration-form_signup-container_name
            = k.label :name, '送付先お名前(全角)', class: 'signup-label'
            %span.sessential-icon 必須
            %br
            = k.text_field :destination_family_name, class:'family_name'
            = k.text_field :destination_first_name, class:'first_name'
          .form_signup-container_registration-form_signup-container_furigana
            = k.label :kana, '送付先お名前カナ(全角)', class:'signup-label' 
            %span.sessential-icon 必須    
            %br
            = k.text_field :destination_family_name_kana, class:'family_name_kana'
            = k.text_field :destination_first_name_kana, class:'first_name_kana' 
          .form_signup-container_registration-form_signup-container_postalcode
            = k.label :postal_code, '郵便番号', class: 'signup-label'
            %span.sessential-icon 必須 
            %br
            = k.text_field :postal_code, placeholder: '郵便番号', class: 'postalcode'
          .form_signup-container_registration-form_signup-container_prefectures
            = k.label :prefecture, '都道府県', class: 'signup-label'
            %span.sessential-icon 必須 
            %br
            = k.text_field :prefecture, placeholder: '都道府県', class: 'prefectures'
          .form_signup-container_registration-form_signup-container_municipalities
            = k.label :city, '市区町村', class: 'signup-label'
            %span.sessential-icon 必須 
            %br
            = k.text_field :city, placeholder: '市区町村', class: 'municipalities'
          .form_signup-container_registration-form_signup-container_adress
            = k.label :adress, '番地', class: 'signup-label'
            %span.sessential-icon 必須 
            %br
            = k.text_field :house_number, placeholder: '番地', class: 'adress'
          .form_signup-container_registration-form_signup-container_street_adress
            = k.label :building_name, 'マンションやビル名、部屋番号', class: 'signup-label'
            %span.optional-icon 任意
            %br
            = k.text_field :building_name, placeholder: 'マンションやビル名、部屋番号', class: 'street_adress'
          .form_signup-container_registration-form_signup-container_phone_number
            = k.label :phone_number, '電話番号', class: 'signup-label'
            %span.optional-icon 任意
            %br
            = k.text_field :phone_number, placeholder: '電話番号', class: 'phone_number'
          .form_signup-container_registration-form_signup-container_identification
            = k.label :identification, '本人確認', class: 'identification'
            %br
            %h3 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .signup-form-container
          %p.signup-form-container__agreement-text
          「次へ進む」のボタンを押すことにより
          = link_to '利用規約','',{class: "default-link-text link-space-reset"}
          に同意したものとみなします。
          %br
          = f.submit "登録"
        .registration-form__link-text
          %p.registration-form__link-text--text.default-link-text
          = link_to '本人情報の登録について','',{class: "default-link-text"} 
          %i.fas.fa-chevron-right.link-space-reset