.wrapper__main
  .wrapper__main__profile
    .wrapper__main__profile__user
      = link_to '#' do
        = image_tag 'mypage-icon.png', class: "wrapper__main__profile__user__icon"
        %p.wrapper__main__profile__user__name 
          = @user.nickname
  .wrapper__main__tabs
    %input#tab1{:name => 'tab-radio', :type => "radio", :checked => "checked"}
    %label.wrapper__main__tabs__left.tab(for="tab1")
      出品中の商品
    %input#tab2{:name => 'tab-radio', :type => "radio"}
    %label.wrapper__main__tabs__right.tab(for="tab2")
      購入した商品
    .wrapper__main__tabs__items#sell-items
      - @sell_items.each do |item|
        = link_to item_path(item.id) do
          .wrapper__main__tabs__items__item
            - item.item_images.each do |image|
              = image_tag image.image, class: 'wrapper__main__tabs__items__item__img'
              - break
            %p.wrapper__main__tabs__items__item__name
              = item.name
            %p.wrapper__main__tabs__items__item__price
              = item.price
              円 (税込)
    .wrapper__main__tabs__items#buyed-items
      - @buyed_items.each do |item|
        = link_to item_path(item.id) do
          .wrapper__main__tabs__items__item
            - item.item_images.each do |image|
              = image_tag image.image, class: 'wrapper__main__tabs__items__item__img'
              - break
            %p.wrapper__main__tabs__items__item__name
              = item.name
            %p.wrapper__main__tabs__items__item__price
              = item.price
              円 (税込)