
- breadcrumb :login

.signin-container
  .signin-container_signin-top
    .signin-container_signin-top_signup
      %p.text アカウントをお持ちでない方はこちら
    .signin-container_signin-top_new_register
      = link_to '新規会員登録',class: 'signin-top_signup-btn'        
  = form_for(resource, as: resource_name, url: user_session_path) do |f|
    .signin-container_signin-top_form
      .signin-container_signin-top_form_text
        = f.email_field :email, placeholder: 'メールアドレス',class: 'signin-top_form_text-email'
        %br
        = f.password_field :password, placeholder: 'パスワード',class: 'signin-to_form_normal-password' 
      .signin-container_signin-top_form_form-container
        = f.submit "ログイン", class: "login"
