.exhibition-container
  .exhibition-container_registration-form
    = form_for @item do |f|
      .exhibition-container_registration-form_addphotos
        = label :photos, '出品画像', class: 'labelname'
        %span.esessential-icon 必須
        %br
        %button{type: "addphotos", value: "addphotos", class: "addphotos"} 
      .exhibition-container_registration-form_item_name 
        = label :item_name, '商品名', class: 'labelname'
        %span.esessential-icon 必須
        %br
        = f.text_field :name, class: 'item_name', placeholder: '40文字まで'
      .exhibition-container_registration-form_item_description
        = label :item_description, '商品説明', class: 'labelname'
        %span.esessential-icon 必須
        %br
        = f.text_area :description, class: 'item_description', placeholder: '商品の説明(色、素材、重さ、定価、注意点など)'
      %h3 商品の詳細
      .exhibition-container_registration-form_categorie
        = label :categorie, 'カテゴリー', class: 'labelname'
        %span.esessential-icon 必須
        %br
        = f.select :category_id, [['メンズ', 1],['レディース', 2],['インテリア', 3]], {include_blank: true, selected: 1}, {class: "categorie"}

      .exhibition-container_registration-form_brand_name
        = label :brand_name, 'ブランド', class: 'labelname'
        %span.optional-icon 任意
        %br
        %input{class: 'brand_name', placeholder: 'シャネル'}
      .exhibition-container_registration-form_item_condition
        = label :categorie, '商品の状態', class: 'labelname'
        %span.esessential-icon 必須
        %br
        = f.select :category_id, [['新品 未使用', 1],['未使用に近い', 2],['目立った傷や汚れなし', 3]], {include_blank: true, selected: 1}, {class: "item_condition"}
      %h3 配送について
      .exhibition-container_registration-form_charge
        = label :charge, '発送料の負担額', class: 'labelname'
        %span.esessential-icon 必須
        %br
        = f.select :category_id, [['送料込み', 1],['着払い', 2]], {include_blank: true, selected: 1}, {class: "charge"}
      .exhibition-container_registration-form_area
        = label :area, '発送元の地域', class: 'labelname'
        %span.esessential-icon 必須
        %br
        = f.select :category_id, @area, {include_blank: true, selected: 1}, {class: "area"}
      .exhibition-container_registration-form_day
        = label :day, '発送までの日数', class: 'labelname'
        %span.esessential-icon 必須
        %br
        = f.select :category_id, [['1〜2日で発送', 1],['3〜4日で発送', 2],['5〜7日で発送', 2]], {include_blank: true, selected: 1}, {class: "day"}
      %h6 価格(¥300~9,999,999)
      .exhibition-container_registration-form_price
        = label :price, '販売価格', class: 'labelname'
        %span.esessential-icon 必須
        %br
        = f.text_field :price, class: 'price', placeholder: '0'
      = f.submit type: "exhibition", value: "出品する", class: "exhibition"
