-# カテゴリー一覧ページです
- breadcrumb :categories

.category-index.container
  %h2.title
    カテゴリー一覧
  .category-list
    .category-list__nav
      - @parents.each do |parent|
        = link_to "#", class: "category-name" do
          = parent.name
    .category-list__box
      - @parents.each do |parent|
        .individual-box
          .category-name
            = parent.name
          .inner-box
            %p
              = link_to "#" do
                すべて
            - parent.children.each do |child|
              .sub-category-name
                = child.name
              .sub-category-box
                .sub-sub-category-name
                  %p
                    = link_to "#" do
                      すべて
                - child.children.each do |grandchild|
                  .sub-sub-category-name
                    %p
                      = link_to "#" do
                        =grandchild.name